<div id="fundo">
  <div id="menu"></div>
  <div id="logo"></div>

  <div id="corpo">
    <h2>Carrinho</h2>

    <ng-container *ngIf="carrinhoService.getCarrinho().length === 0; else carrinhoItems">
      <p class="mensagem-vazio">Carrinho vazio</p>
    </ng-container>
    <ng-template #carrinhoItems>
      <ion-list class="scroll-labels">
        <ion-list>
          <ng-container *ngFor="let item of carrinhoService.getItensUnicos()">
            <ion-item>
              <ion-grid>
                <ion-row>
                  <ion-col size="4">
                    <ion-img [src]="'assets/images/Screenshot_' + removerAcentos(item.nome.toLowerCase()) + '.png'"></ion-img>
                  </ion-col>
                  <ion-col>
                    <ion-label class="label-item custom-label">
                      <h3 class="nome-produto">{{ item.nome }}</h3>
                      <p class="preco-produto">Preço Total: {{ calcularPrecoTotal(item) }}€</p>
                      <div class="quantidade-total-item">
                        Quantidade:
                        <ion-input type="number" [(ngModel)]="item.quantidade" class="custom-input"></ion-input>
                      </div>
                    </ion-label>
                  </ion-col>
                  <ion-col class="ion-justify-content-start">
                  </ion-col>
                  <ion-col class="custom-col">
                    <ion-button (click)="alterarQuantidade(item)">Alterar Quantidade</ion-button>
                    <ion-button (click)="removerProduto(item)">Remover</ion-button>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-item>                     
          </ng-container>
        </ion-list>                   
      </ion-list>
    </ng-template>
    

    <button *ngIf="carrinhoService.getCarrinho().length > 0" (click)="limparCarrinho()" class="botao-limpar-carrinho">Limpar Carrinho</button>

    <div class="preco-total-carrinho">
      Preço Total do Carrinho: {{ calcularTotalCarrinho() }}€
    </div>

    <button *ngIf="carrinhoService.getCarrinho().length > 0" (click)="finalizarCompra()" class="botao-finalizar-compra">Finalizar Compra</button>
  </div>

  <div id="rodape"></div>
  <table style="width: 100%; margin-left: auto; margin-right: auto;" border="0" cellspacing="0" cellpadding="0">
    <tbody>
      <tr>
        <td style="width: 20%; text-align: center;">
          <a href="carrinho">
            <img src="../assets/images/cesto.png" alt="" width="80" height="80">
          </a>
        </td>
        <td style="width: 20%; text-align: center;">
          <a href="contactos">
            <img src="../assets/images/contacto.png" alt="" width="80" height="80">
          </a>
        </td>
        <td style="width: 20%; text-align: center;">
          <a href="produtos">
            <img src="../assets/images/home.png" alt="" width="80" height="80">
          </a>
        </td>
        <td style="width: 20%; text-align: center;">
          <a href="informate">
            <img src="../assets/images/info.png" alt="" width="80" height="80">
          </a>
        </td>
        <td style="width: 20%; text-align: center;">
          <a href="conta">
            <img src="../assets/images/user.png" alt="" width="80" height="80">
          </a>
        </td>
      </tr>
      <tr>
        <td style="width: 20%; text-align: center;">cesto</td>
        <td style="width: 20%; text-align: center;">contacto</td>
        <td style="width: 20%; text-align: center;">Início</td>
        <td style="width: 20%; text-align: center;">Info</td>
        <td style="width: 20%; text-align: center;">Perfil</td>
      </tr>
    </tbody>
  </table>
</div>
