<ion-header>
  <ion-toolbar>
    <ion-title>
      Página com Botões
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="ion-text-center">
    <h1>Olá!</h1>
    <div>
      <h2 class="aumentar-tamanho">Login</h2>
      
      <ion-item class="espcialdecorrda">
        <ion-label position="floating">Username</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
      
      <ion-item class="espcialdecorrda">
        <ion-label class="kabekteste" position="floating">Password</ion-label>
        <ion-input type="password"></ion-input>
        
      </ion-item>
      
        
     


      <ion-button expand="round" class="shadow-red" color="primary">Entrar</ion-button>
      
      
    
    </div>
    <div class="espcialdecorrda">
      <span >Registar</span>
      <span >Recuperar Password</span>
    </div>
  
  </div>
</ion-content>
