<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>produtos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">produtos</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="button-container">
    <ion-button expand="round" class="shadow-red" color="primary">Mais Desejados</ion-button>
    <ion-button expand="round" class="shadow-red" color="primary">Plantas Interiores</ion-button>
    <ion-button expand="round" class="shadow-red" color="primary">Plantas Exteriores</ion-button>
    <ion-button expand="round" class="shadow-red" color="primary">Flores</ion-button>
  </div>
</ion-content>
