<ion-header>
  <ion-toolbar>
    <ion-title>
      Registo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="ion-text-center">
    <h1></h1>
    <div>

      <h2 class="aumentar-tamanho">Registo</h2>
      <h2 class="Nome">FlowerBouquetes</h2>

      <ion-item class="espcialdecorrda">
        <ion-label position="floating">Username</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
      
      <ion-item class="espcialdecorrda">
        <ion-label class="kabekteste" position="floating">Email</ion-label>
        <ion-input type="email"></ion-input>
      </ion-item>

      <ion-item class="espcialdecorrda">
        <ion-label class="kabekteste" position="floating">Password</ion-label>
        <ion-input type="password"></ion-input>
      </ion-item>

      <ion-item class="espcialdecorrda">
        <ion-label class="kabekteste" position="floating">Repita a Password</ion-label>
        <ion-input type="password"></ion-input>
      </ion-item>

      <ion-button expand="round" class="shadow-red" color="primary">Entrar</ion-button>

    </div>
    <div class="registo">
      <a href="pagina-registo.html">Registar</a>
    </div>   
    <div class="recuperar">
      <a href="pagina-recuperar-password.html">Recuperar Password</a>
    </div>  
  </div>

</ion-content>
