nav {
    background-color: #f2f2f2;
    width: 250px;
    height: 100%;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    padding: 10px;
  }
  
  a {
    text-decoration: none;
    color: #333;
  }
  
  a:hover {
    color: #000;
    font-weight: bold;
  }

  
  