
<div id="fundo">
   
    <div id="menu"></div>

    <div id="logo"></div>

    <div id="corpo">
        <h2>Registar</h2>
      
        <ion-item>
          <ion-input type="text" placeholder="Username" style="padding: 0 12px;"></ion-input>
        </ion-item>
        
        <ion-item>
          <ion-input type="text"  placeholder="Email" style="padding: 0 12px;"></ion-input> 
        </ion-item>

        <ion-item>
            <ion-input type="password"  placeholder="password" style="padding: 0 12px;"></ion-input> 
          </ion-item>
          
          <ion-item>
            <ion-input type="password"  placeholder="Repita a Password" style="padding: 0 12px;"></ion-input> 
          </ion-item>
        <div class="largura">
            <ion-button expand="round" class="shadow-red" color="primary" (click)="checkCredentials()">Registar</ion-button>
        </div>  


     

    </div>

    <div id="rodape"></div>

</div>
